<!DOCTYPE html>
<html class="page-restaurant" lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<title>
		</title>
		<link rel="stylesheet" href="css/main.css?v=1556557333951">
	</head>
	<body>
		<noscript>
			<div class="noscript">
				<div class="container"><strong>Возможно, JavaScript отключен в вашем браузере.</strong><br> Для полноценного использования функций этого веб-сайта в вашем браузере должен быть включен JavaScript.</div>
			</div>
		</noscript>
		<div class="all-wrap">
			<div class="main-wrap">
				<header class="header js-fixed-header">
					<div class="header__top">
						<div class="container">
							<div class="header__top-inner js-header-top">Добро пожаловать на сайт нового «Forza karting MIKS»! Мы открылись!</div>
						</div>
					</div>
					<div class="header__base">
						<div class="container">
							<div class="header__inner">
								<div class="header__column">
									<div class="header-menu js-header-menu">
										<ul>
											<li class="is-active"><a href="">Картинг</a></li>
											<li><a href="">Лазертаг</a></li>
											<li><a href="">Ресторан</a></li>
										</ul>
									</div>
								</div><a class="header__logo" href="/"><img src="images/logo.svg" alt="FORZA MIKS. Дубровка"></a>
								<div class="header__hamburger">
									<button class="header-hamburger js-header-hamburger" type="button"><span></span><span></span><span></span></button>
								</div>
								<div class="header__column">
									<div class="header-menu js-header-menu">
										<ul>
											<li><a href="">Мероприятия</a></li>
											<li><a href="">Детям</a></li>
											<li><a href="">Соревнования</a></li>
											<li> <a class="login" href="/auth/"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header__bottom">
						<div class="container">
							<div class="header-small-menu js-header-small-menu">
								<ul>
									<li><a href="">Партнеры</a></li>
									<li><a href="">СМИ о нас</a></li>
									<li><a href="">Новости</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
							</div>
						</div>
					</div>
				</header>
				<div class="content-wrap">
					<main class="content-restaurant">
						<div class="fixed-contacts" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
							<div class="fixed-contacts__item"><a class="fixed-contacts__phone" href="tel:+79255504535"><span class="is-mobile">
										<svg>
											<use xlink:href="images/sprites.svg#fixed-phone"></use>
										</svg></span><span class="is-desktop">+7 (925) 550 45 35</span></a></div>
							<div class="fixed-contacts__item"><a class="fixed-contacts__address js-anchor" href="#contacts"><span class="is-mobile">
										<svg>
											<use xlink:href="images/sprites.svg#fixed-address"></use>
										</svg></span><span class="is-desktop">г. Москва, Шарикоподшипниковская,&nbsp;13&nbsp;стр.46</span></a></div>
						</div>
						<div class="container">
							<section class="section section-header" data-aos="zoom-in-up" data-aos-anchor-placement="center-bottom">
								<h1>РЕСТОРАН «Forza»</h1>
							</section>
							<section class="section section-about" data-aos="zoom-in-up" data-aos-anchor-placement="center-bottom">
								<h3>Добро пожаловать в ресторан «Форза»!</h3>
								<p class="section-about-info">Отдохните и подкрепитесь после спорта в стильном ресторане с вкусной едой! Забронируйте места в ресторане «Форза», позвонив по телефону:</p><a href="tel:74956403302">+7 (495) 640 33 02</a>
								<p> <small>Звоните не ранее, чем за сутки!<br/>Пн-Пт 13:15 - 01:15<br/>Сб,Вс и праздничные дни 11:15 - 01:15</small></p>
							</section>
							<section class="section section-halls">
								<div class="halls-slides">
									<div class="halls-slide">
										<h3>ЗАЛЫ РЕСТОРАНА</h3>
										<div class="halls">
											<div class="halls-image"><img src="./images/pic/restaurant/halls-1.png"></div>
											<div class="halls-info"><span>Большой зал</span>
												<div class="halls-name"><span class="js-arrow-name">Нюрбургринг</span><span class="halls-spaciousness">< 120 чел.</span></div>
												<hr>
												<p class="halls-desc">Основной зал для отдыха гостей, идеальное место для проведения различных масштабных мероприятий!</p>
												<ul class="halls-list">
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-1"></use>
														</svg><span>До 120-ти гостей</span>
													</li>
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-2"></use>
														</svg><span>Панорамный вид на трассу</span>
													</li>
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-3"></use>
														</svg><span>Стильный интерьер</span>
													</li>
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-4"></use>
														</svg><span>Профессиональная акустика и HD-проектор</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="halls-slide">
										<h3>ЗАЛЫ РЕСТОРАНА</h3>
										<div class="halls">
											<div class="halls-image"><img src="./images/pic/restaurant/halls-2.png"></div>
											<div class="halls-info"><span>Средний зал</span>
												<div class="halls-name"><span class="js-arrow-name">Сильверстоун</span><span class="halls-spaciousness">< 50 чел.</span></div>
												<hr>
												<p class="halls-desc">Для веселья, танцев и песен!</p>
												<ul class="halls-list">
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-5"></use>
														</svg><span>До 50-ти гостей </span>
													</li>
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-6"></use>
														</svg><span>Авторские кальяны</span>
													</li>
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-7"></use>
														</svg><span>Профессиональная караоке-система</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="halls-slide">
										<h3>ЗАЛЫ РЕСТОРАНА</h3>
										<div class="halls">
											<div class="halls-image"><img src="./images/pic/restaurant/halls-3.png"></div>
											<div class="halls-info"><span>Малый зал</span>
												<div class="halls-name"><span class="js-arrow-name">Монако</span><span class="halls-spaciousness">< 20 чел.</span></div>
												<hr>
												<p class="halls-desc">Идеальное место для проведения детских праздников и небольших вечеринок!</p>
												<ul class="halls-list">
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-8"></use>
														</svg><span>До 20-ти гостей </span>
													</li>
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-9"></use>
														</svg><span>Веселое оформление зала</span>
													</li>
													<li>
														<svg>
															<use xlink:href="images/sprites.svg#halls-icon-10"></use>
														</svg><span>Атмосфера уединения</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="section section-seating-guests">
								<div class="seating-guests-slides">
									<div class="seating-guests-slide">
										<h3>Рассадка гостей</h3>
										<div class="subtitle js-arrow-name">Стандартная</div>
										<div class="seating-guests">
											<div class="seating-guests-image"><img src="./images/pic/restaurant/seating-guests-1.png"></div>
										</div>
									</div>
									<div class="seating-guests-slide">
										<h3>Рассадка гостей</h3>
										<div class="subtitle js-arrow-name">Презентация</div>
										<div class="seating-guests">
											<div class="seating-guests-image"><img src="./images/pic/restaurant/seating-guests-2.png"></div>
										</div>
									</div>
									<div class="seating-guests-slide">
										<h3>Рассадка гостей</h3>
										<div class="subtitle js-arrow-name">Банкет</div>
										<div class="seating-guests">
											<div class="seating-guests-image"><img src="./images/pic/restaurant/seating-guests-3.png"></div>
										</div>
									</div>
									<div class="seating-guests-slide">
										<h3>Рассадка гостей</h3>
										<div class="subtitle js-arrow-name">Вечеринка</div>
										<div class="seating-guests">
											<div class="seating-guests-image"><img src="./images/pic/restaurant/seating-guests-4.png"></div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<section class="section section-gallery">
							<div class="grid grid-collapse">
								<div class="row">
									<div class="col-lg-7 col-md-9">
										<div class="gallery" active="1">
											<div class="gallery-image" style="background-image: url(./images/pic/restaurant/gallery-img-1.png);"></div>
											<div class="gallery-footer">
												<div class="gallery-arrow gallery-arrow-prev"></div>
												<div class="gallery-description">
													<div class="gallery-title">Фотогалерея  |  Победитель гонки от 21.01 ставит рекорды!</div>
													<p class="gallery-date">2 февраля 2019 года</p>
												</div>
												<div class="gallery-arrow gallery-arrow-next"></div>
											</div>
										</div>
									</div>
									<div class="col-lg-5 col-md-3">
										<div class="gallery-slides grid grid-collapse">
											<div class="row">
												<div class="gallery-slide col-lg-6" id="gallery-slide-1" data-title="Фотогалерея  |  Победитель гонки от 21.01 ставит рекорды!" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-1.png);"></div>
												<div class="gallery-slide col-lg-6" id="gallery-slide-2" data-title="Фотогалерея  |  2" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-2.png);"></div>
												<div class="gallery-slide col-lg-6" id="gallery-slide-3" data-title="Фотогалерея  |  4" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-3.png);"></div>
												<div class="gallery-slide col-lg-6" id="gallery-slide-4" data-title="Фотогалерея  |  5" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-4.png);"></div>
												<div class="gallery-slide col-lg-6" id="gallery-slide-5" data-title="Фотогалерея  |  6" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-5.png);"></div>
												<div class="gallery-slide col-lg-6" id="gallery-slide-6" data-title="Фотогалерея  |  7" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-6.png);"></div>
												<div class="gallery-slide col-lg-6" id="gallery-slide-7" data-title="Фотогалерея  |  8" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-7.png);"></div>
												<div class="gallery-slide col-lg-6" id="gallery-slide-8" data-title="Фотогалерея  |  9" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-8.png);"></div>
												<div class="gallery-slide col-lg-6" id="gallery-slide-9" data-title="Фотогалерея  |  10" data-date="2 февраля 2019 года" style="background-image: url(./images/pic/restaurant/gallery-img-9.png);"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</main>
					<div class="popup__hidden">
						<div id="popup-registration">
							<div class="popup__title">Регистрация</div>
							<div class="popup__descr">
								<p>Просто заполните данные формы и приходите к нам, как только мы откроемся. <br> Мы сообщим Вам об этом по телефону!</p>
							</div>
							<form class="popup-form js-form-ajax" action="index.html" method="post">
								<div class="popup-form__input">
									<input class="input-text" type="text" name="name" required placeholder="Ваше имя*">
								</div>
								<div class="popup-form__input">
									<input class="input-text" type="text" name="lastName" required placeholder="Ваша фамилия*">
								</div>
								<div class="popup-form__input">
									<input class="input-text" type="text" name="phone" required placeholder="Телефон*">
								</div>
								<div class="popup-form__input">
									<input class="input-text" type="email" name="email" placeholder="E-mail">
								</div>
								<div class="popup-form__input popup-form__input_submit">
									<button class="btn btn_small" type="submit" name="sendRegistration" value="send">Зарегистрироваться</button>
								</div>
							</form>
							<div class="popup__descr-bottom">
								<p>Скидка предоставляется на&nbsp;заезды на&nbsp;прокатном или детском карте и&nbsp;не&nbsp;суммируется с&nbsp;другими скидками и&nbsp;специальными предложениями. Скидка действует на&nbsp;один заезд на&nbsp;одного гостя.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-wrap">
				<div class="container">
					<footer class="footer"><span>© 2000 - 2019 Forza Miks</span><a href="#">Все права защищены</a></footer>
				</div>
			</div>
		</div>
		<script src="js/vendor.js?v=1556557333951"></script>
		<script src="js/main.js?v=1556557333951"></script>
	</body>
</html>