.icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: currentColor;
    @include transition;
}

.icon_angle-right {
    width:240.82px;
    height:240.82px;
}
.icon_arrow {
    width:8px;
    height:13px;
}
.icon_businessman {
    width:482.97px;
    height:482.97px;
}
.icon_check {
    width:24px;
    height:24px;
}
.icon_envelope {
    width:550.795px;
    height:550.795px;
}
.icon_gear {
    width:369.793px;
    height:369.792px;
}
.icon_id-card {
    width:512px;
    height:512px;
}
.icon_list-on-window {
    width:511.626px;
    height:511.627px;
}
.icon_loop {
    width:475.084px;
    height:475.084px;
}
.icon_placeholder {
    width:487.72px;
    height:487.72px;
}
.icon_print {
    width:510px;
    height:510px;
}
.icon_selector-arrow {
    width:12px;
    height:8px;
}
.icon_setup {
    width:16px;
    height:16px;
}
.icon_shopping-cart {
    width:512px;
    height:512px;
}
.icon_slider-arrow {
    width:20px;
    height:16px;
}
.icon_star {
    width:49.94px;
    height:49.94px;
}
.icon_trash {
    width:443px;
    height:443px;
}
.icon_wrong-access {
    width:380px;
    height:380px;
}
.icon_xls {
    width:91.607px;
    height:91.607px;
}
